@import "abstract/mixin";
@import "abstract/variable";
@import "reset";
@import "layout/header";
<<<<<<< HEAD
@import "layout/body";

@font-face {
    font-family: poppins-regular;
    src: url(./Poppins-ExtraBold.ttf);
    font-family: poppins-light;
    src: url(./Poppins-ExtraLight.ttf)
=======

@font-face {
    font-family: poppins-regular;
    src: url(/Poppins-ExtraBold.ttf);
    font-family: poppins-light;
    src: url(/Poppins-ExtraLight.ttf)
>>>>>>> main
};